<%- include('partials/header.ejs') -%>
<div class="my-btn">
  <form action="/auth">
    <button class="button is-success is-large custom-button" type="submit">
      Discord Login
    </button>
  </form>
</div>

<%- include('partials/footer.ejs') -%>
